argon2-cffi==20.1.0
asn1crypto==0.24.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
certifi==2019.6.16
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
command-not-found==0.3
configparser==5.0.2
crayons==0.4.0
cryptography==2.1.4
cupshelpers==1.0
decorator==5.0.9
defer==1.0.6
defusedxml==0.7.1
distro-info===0.18ubuntu0.18.04.1
dj-database-url==0.5.0
docopt==0.6.2
entrypoints==0.3
gunicorn==20.1.0
httplib2==0.9.2
idna==2.8
importlib-metadata==4.6.1
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
Markdown==3.2.1
MarkupSafe==1.1.1
mistune==0.8.4
MouseInfo==0.0.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
notebook==6.4.0
numpy==1.19.5
oauth==1.0.1
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.2.1
pickleshare==0.7.5
Pillow==6.1.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
psycopg2==2.7.7
ptyprocess==0.7.0
PyAutoGUI==0.9.46
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
PyGetWindow==0.0.6
Pygments==2.9.0
pygobject==3.26.1
PyMsgBox==1.0.7
pynput==1.4.2
pyparsing==2.4.7
pyperclip==1.7.0
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.22
python-apt==1.6.5+ubuntu0.6
python-dateutil==2.8.0
python-debian==0.1.32
python-xlib==0.25
python3-xlib==0.15
pythonanywhere==0.8.1
PyTweening==1.0.3
pytz==2021.1
pyxdg==0.25
PyYAML==3.12
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
reportlab==3.4.0
requests==2.22.0
requests-unixsocket==0.1.5
SecretStorage==2.3.1
Send2Trash==1.7.1
simplejson==3.13.2
six==1.12.0
terminado==0.10.1
testpath==0.5.0
tornado==6.1
traitlets==4.3.3
typing-extensions==3.10.0.0
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.3
usb-creator==0.3.3
wadllib==1.3.2
wcwidth==0.2.5
webdriver-manager==3.4.2
webencodings==0.5.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
xkit==0.0.0
xlib==0.21
zipp==3.5.0
zope.interface==4.3.2
gunicorn==20.1.0
python-decouple==3.4
django-heroku==0.3.1
